body{
    background-color: blue;
}
h1{
    text-align: center;
    color: yellow;
}

form {
    border: 6px dashed yellow;
  }

  label.campo{
      font-size: 25px;
      padding-left: 5px;
  }

  input[type=text], input[type=password] {
    width: 98%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 98%;
  }