<!DOCTYPE html>

<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/coleta.css')}}">

  <title>Agente Web - Coleta</title>
  
</head>
  <h1>Realizando Extração!</h1>
<body>

  <form >
    <div class="container">
      <label for="uname" class ="campo"><b>Nome de Usuário</b></label>
      <input type="text" id = "usuario" placeholder="Informar nome de usuário" name="uname" maxlength="100" required>
  
      <label for="psw" class = "campo"><b>Senha</b></label>
      <input type="password" id = "senha" placeholder="Informar senha" name="psw" required>
      
       <!--Informar TAG, entre aspas simples, para a gera_evento, padrão ´vazia-->
      <button type="button" id = "botao-login" onclick="gera_evento(document.getElementById('usuario').value, 'LOGIN')">Logar</button>
    </div>
  </form> 
  
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/coletor.js')}}"></script>
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/jstz.min.js')}}"></script>
  <script>
      $( "#botao-login").click(function() {
          alert( "Clicou em Logar" );
      });
  </script>
</body>

</html>
