<!DOCTYPE html>

<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel = "icon" href = "{{url_for('static', filename = 'img/sword.ico')}}">

  <title>Hunter Dados</title>

  <!-- Theme CSS - Includes Bootstrap -->
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/creative.min.css')}}">
  
   <link rel = "stylesheet" type="text/css" href = "{{url_for('static', filename = 'css/jquery.dataTables.css')}}">
  
</head>

<body class = "ex_highlight_row">

    <div id = "div-tabela">
        <a href = "#ocultar-mostrar"><h2 id = "tituloTabela">Tabela de Registros de Acessos</h2></a>
        <div class = "texto-ocultar">
            <p id = "ocultar-mostrar">Ocultar/Mostrar Coluna:</p> 
            <p id = "linkTabela"><a class="toggle-vis" data-column="0">Fingerprint - </a>
            <a class="toggle-vis" data-column="1">IP Interno - </a>
            <a class="toggle-vis" data-column="2">IP Público - </a>
            <a class="toggle-vis" data-column="3">IP Privado - </a>
            <a class="toggle-vis" data-column="4">Sistema Operacional - </a>
            <a class="toggle-vis" data-column="5">Navegador - </a>
            <a class="toggle-vis" data-column="6">Versão do Navegador - </a>
            <a class="toggle-vis" data-column="7">Plugins do Navegador - </a>
            <a class="toggle-vis" data-column="8">Dimensões da Tela - </a>
            <a class="toggle-vis" data-column="9">Data e Hora de Acesso - </a>
            <a class="toggle-vis" data-column="10">Fuso Horário - </a>
            <a class="toggle-vis" data-column="11">Idioma - </a>
            <a class="toggle-vis" data-column="12">Timezone Local - </a>
            <a class="toggle-vis" data-column="13">URL da Página Acessada - </a>
            <a class="toggle-vis" data-column="14">Tipo de Evento - </a>
            <a class="toggle-vis" data-column="15">Versão do Script do Cliente - </a>
            <a class="toggle-vis" data-column="16">Latitude e Longitude - </a>
            <a class="toggle-vis" data-column="17">Precisão da Localização (Metros) - </a>
            <a class="toggle-vis" data-column="18">ID Externo - </a>
            <a class="toggle-vis" data-column="19">TAG</a></p>
        </div>
        </br></br>
        <div id = "tabela-dados">
            <table id="tabela-acessos" class="display" style="width:100%" cellspacing="0" cellpadding = "0" border = "1px">
                <thead id = "cabecalhoTabela">
                    <tr>
                        <th>Fingerprint</th>
                        <th>IP Interno</th>
                        <th>IP Público</th>
                        <th>IP Privado</th>
                        <th>Sistema Operacional</th>
                        <th>Navegador</th>
                        <th>Versão do Navegador</th>
                        <th>Plugins do Navegador</th>
                        <th>Dimensões da Tela</th>
                        <th>Data e Hora de Acesso</th>
                        <th>Fuso Horário</th>
                        <th>Idioma</th>
                        <th>Timezone Local</th>
                        <th>URL da Página Acessada</th>
                        <th>Tipo de Evento</th>
                        <th>Versão do Script do Cliente</th>
                        <th>Latitude e Longitude</th>
                        <th>Precisão da Localização (Metros)</th>
                        <th>ID Externo</th>
                        <th>TAG</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
          
<script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery.dataTables.js')}}"></script>
<script type = "text/javascript" src = "{{url_for('static', filename = 'js/index.js')}}"></script>

</body>

</html>